* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main container */
#main_container {
  max-width: 400px;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Container for player and computer choices */
.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container h2 {
  font-size: 20px;
  color: #333333;
}

/* Button container */
.btn_container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

/* Button */
.btn_container button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #4698df;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn_container button:hover {
  background-color: #3785c9;
  cursor: pointer;
}

.btn_container button:active {
  background-color: #296396;
}

.btn_container button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

#resetGame_btn {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #ec4a18;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#resetGame_btn:hover {
  background-color: #c03e17;
  cursor: pointer;
}

#resetGame_btn:active {
  background-color: #8e2f12;
}

#resetGame_btn:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

p {
  text-align: center;
  font-size: 20px;
  color: #333333;
  margin-top: 20px;
}

p span {
  font-weight: bold;
  font-size: 20px;
  color: #333333;
}

.highlight_winner {
  background: #4ce725;
}
